*{ 
	margin:0;
	padding:0;
	max-width:980px; 
	font-family: "Microsoft YaHei";
	list-style: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 
body{ background:#efefef;}
.main{
	width:100%;
	padding:0 10px 0 15px;
	background: #fff;
	margin-top:5%;
}
.main li{
	font-size:1em;
	line-height:3.5em;
	border-top:1px solid #d3d3d3;
	text-indent: 6%;
}
.main li:nth-child(1){
	padding:5% 0;
	border-top:0;

} 
.main li a{
	display: inline-block;
	float: right;
	color:#a2a2a2;
}
.main img{
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top:5%;
	top:5%;
	right: 3%;
}

/* end main */

.footer {
	overflow: hidden;
	width:100%;
	padding-left: 6%;
	margin-top: 74%;
	background: #fff;

}
.footer li{
	width:20%;
	float: left;	
	margin-top: 3%;
}
.footer a{
	color:#aaaaaa;
}
.footer li:nth-child(5) a{
	color: #eb4f38;
}
/* end footer */