* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
   		-moz-box-sizing: border-box;
         	 box-sizing: border-box;
	list-style-type: none;
	font-family: Arial, sans-serif;
}
body{ 
	background: #fff; 
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
}
.fl{ float: left; line-height: 23px;}
.fr{ float: right; }
.wd100{
	width:100%;
	height: 150px;
	line-height: 20px;
	padding:15px 0;
}
img{ margin:0 auto;
}
.wd10{
	width:10%;
	height:148px;
	padding:26px 0 ;
	text-align:center;
}
.wd10 img{
	border: none;
	height: 36px;
}
.wd17{ width:17%; height: 148px;}
.wd17 img{
	border: none;
	height: 83px;
}
.wd45 {
	width:45%;
	height: 102px;
	font-size:1.2em;
	margin-top: 10px;
	border-bottom: 3px solid #f0f0f0;
}
.coff6060{ color:#ff6060; }
.wd27{
	width:27%;
	height: 112px;
	text-align: right;
		border-bottom: 3px solid #f0f0f0;
}
.mT{
	margin-top: 33px;
}
.mT li{
	width:37px;
	border:1px solid #e6e6e6;
	text-align: center;
}
.coaaa, span{
	color:#aaa;
}

/* end main */
.footer{ text-align:center; }
.footer li{
	height: 56px;
	line-height: 28px;
}
.wd9{ width:9%; }
.wd16{
	width: 16%;
}
.wd25{
	width:25%;
}
.footer span {
	display: inline-block;
	padding:5px 28%;
	color:#fff;
}
.bgf93939 {
	background: #f93939;
}
.bgffbf25 {
	background: #ffbf25;
}

