*{ 
	margin:0;
	padding:0;
	max-width:980px; 
	font-family: "Microsoft YaHei";
	list-style: none;
	text-decoration: none;
    -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
    	  box-sizing:border-box;
}
@media (min-width:600px){
	.title{height: 50px;line-height: 50px;}
	.container, .footer{font-size:2em;}
	.list li{height:140px;}
	.list li:nth-child(1){height:280px;}
	/* end list */
	.list_1 li:nth-child(1){height:140px;}
	/* end list_1 */
	.footer img{width:43px;height: 35px;}
}
/*当最小宽度微600px,媒体查询应用以上的样式*/
.banner{
	width:100%;
	overflow: hidden;
}
.banner img{
	width:100%;
}
/*wnd banner*/
.container{
	width:100%;
	overflow: hidden;
}
.title{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.title marquee{
	width:80%;
	vertical-align: middle;
	display: inline-block;
}
/*end title */
.coeb4f38{ color:#eb4f38;}
.co89c997{ color:#89c997;}
.co5ab0e2{ color:#5ab0e2;}
.cof5a747{ color:#f5a747;}
.cob7b7b7{ color:#b7b7b7;}
.coff9600{ color:#ff9600;}
.coc498f9{ color:#c498f9;}
.coff764b{ color:#ff764b;}
.coff440a{ color:#ff440a;}
/*字体颜色*/
.font15{ font-size:1.5em;}
/*字体大小*/
.main{
	width:100%;
	overflow: hidden;	
}
.list li{
	width:50%;
	height:80px;
	float: left;
	border:1px solid #e1e1e1;
	position: relative;
	padding-top:5px;
}
.list li:nth-child(1){
	height: 160px;
}
.list img{
	position: absolute;	
	height:60%;
}
.list li:nth-child(1) img{
	top:29%;
	right:7%;
}
.list li:nth-child(2) img{
	top:27%;
	right:1%;
}
.list li:nth-child(3) img{
	top:19%;
	right:8%;
}
.list a{
	margin-left: 7%;
}
/* end list */

.pic img{
	width:100%;
}
.bo3{ border:2px solid #e1e1e1;}
/* end pic */
.list_1{
	width:100%;
	overflow: hidden;
}
.list_1 li:nth-child(1){
	height:80px;
}
.list_1 .font05{
	font-size:0.5em;
	border:1px solid;
	border-radius:10px;
}
.list_1 img{
	height: 70%;
	position: absolute;

}
.list_1 li:nth-child(1) img{
	top:12%;
	right:7%;
}
.list_1 li:nth-child(2) img{
	top:12%;
	right: 5%;
}
.list_1 li:nth-child(3) img{
	top:19%;
	right:8%;
}
.list_1 li:nth-child(4) img{
	top:25%;
	right:1%;
}
/* end list_1 */
.footer{
	width:100%;
	overflow: hidden;
}
.footer ul{
	margin-top:2%;
}
.footer li{
	text-align: center;
	width:20%;
	float: left;
}
.footer img{
	height: 30px;
}
.footer a{
	color: #aaa;
}
.footer li:nth-child(3) a{
	color:#eb4f38;
}


