.main{
/* 	width:1920px; */
}
.content{
	width:1200px;
	margin: 0 auto;
}
.left{
	width:210px;

}
.left ul{
	border:1px solid gray;
}
.left .top{
	height: 175px;
	margin-bottom: 10px;
}
.left .top p{
	background: #ec4f4a;
	color:#fff;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}
.left .top_1{
	 
	background: #fd6760;
	
}
.left .top_1 .tx{
	border-radius: 50%;
	margin-left: 20px;
	margin-top:20px;
}
.left .top_1 .xiugai{
	margin:13px 43px 0 0;
}
.left .top_1 .xiugai a{
	display: block;
	line-height: 24px;
	
}
.left .top_1 span{
	display: inline-block;
	font-size: 1.5em;
	margin:10px 0 7px 20px;
}










.left .top1{
	height: 40px;
	line-height: 40px;
	background: #ddd;
	font-size: 14px;
	padding-left: 10px;
	position: relative;
}
.left .img1{
	position: absolute;
	top:16px;
	right:15px;
}
.left li img{
	position: absolute;
	left: 3px;
}
.left li{
	padding:10px 20px;
	 
	position: relative;
}
/*end left*/

.right{
	width:970px;
}

.right_1{
	height: 155px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.right_1 .right--1 {
	width:200px;
	padding:20px;
	text-align: center;
	float: left;
	border-right: 1px solid #ddd;
	margin-top:6px;
}
.right_1 .right--1 li{
	font-size: 1.5em;
	line-height: 25px;
}
.right_1 .right--2{
	width:447px;
	text-align: left;
}
.right_1 .right--2 li{
	font-size: 1.5em;
	line-height:40px;
}
.right_1 .right--2 span{
 
}




/*交易提醒样式*/
.jytx{
	width:565px;
	height: 355px;
	float: left;
	border-right: 1px solid #ddd;
}
.jytx h3,
.gwcxq h3,
.scsp h3{
	line-height: 30px;
	margin-left: 10px;
	
}
.jytx_1{
	margin:10px;
	background: #eefbfe;
}
.jytx_1 img{
	display: inline-block;
	height: 76px;
	width:76px;
	padding:6px;
}
.jytx_1 ul{
	width:435px;
	float: right;
	text-align: left;

}
.jytx_1 li:first-child{
	line-height: 45px;
}
.jytx_1 li{
	font-size: 1.2em;
	 line-height: 25px;
}
.jytx_1 li a{
	display: inline-block;
	float: right;
	padding:5px 12px;
	margin-right: 15px;
	background: #f1a29c;
	border-radius: 5px;
	color:#fff;
}





/*购物车详情*/
.gwcxq{
	width:400px;
	height: 355px;
	border-right: 1px solid #ddd;
	float: right;
}
.gwcxq_1 ul{
	 width:275px;
}
.gwcxq_1 img{
	 width:50px;
	 height: 50px;
}


/*收藏的商品*/
.con_bottom{
	width:970px;
	float: right; 
	 
}
.scsp{
	width:321px;
	height:200px;
	float: left;
	border:1px solid #ddd;
}
.scsp_1 {
	margin-top: 15px;
	margin-left: 35px;
	position: relative;
}
.scsp_1 li{
	float: left;
	margin-right: 15px;
	
}
 
.scsp_1 .jt1{
	position: absolute;
	top:36px;
	left:-27px;
}
 
.scsp_1 .jt2{
	position: absolute;
	top:36px;
	right:7px;
}
.scsp_1 .blo{
	display: inline-block;
	margin-left:33px;
	margin-top: 10px;
	font-size: 1.5em;
}
.con_bottom .scsp h3{
	margin-left: 20px;
}
.con_bottom .scsp i{
	display: inline-block;
	width:14px;
	height: 14px;
	background: url(../img/wuxing.png) no-repeat;
	background-position:10px 10px 0 0;
}
.con_bottom .scsp .icon1{
	display: inline-block;
	width:14px;
	height:22px;
	background: url(../img/jiao.png) no-repeat;
	background-position:10px 10px 0 0;
}