*{margin:0px;padding:0px;}
body {
	font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
	font-size: 12px;
		-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header{
	width:1920px;
	height: 200px;
	overflow: hidden;

}
.nav{
	width:1920px;
	overflow: hidden;
	margin:0 auto;
}
.nav_1{
	width:1200px;
}





